@model TatRom_BugTracker.Models.Ticket

@{
	ViewData["Title"] = "Edit";
}

<section role="main" class="content-body card-margin">
	<header class="page-header">
		<h2>Edit Ticket</h2>

		<div class="right-wrapper text-end">
			@*<ol class="breadcrumbs">
			<li>
			<a href="index.html">
			<i class="bx bx-home-alt"></i>
			</a>
			</li>

			<li><span>Forms</span></li>

			<li><span>Advanced</span></li>

			</ol>*@

			@*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
		</div>
	</header>

	<div class="row">
		<div class="col">
			<section class="card">
				<header class="card-header">
					<div class="card-actions">
						<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
						<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
					</div>

					<h2 class="card-title">Edit Ticket</h2>
				</header>
				<div class="card-body">
					<form class="form-horizontal form-bordered" asp-action="Edit" asp-controller="Tickets">
						<div class="form-group row pb-3">
							<label asp-for="Title" class="col-lg-3 control-label text-lg-end pt-2" for="textareaDefault"></label>
							<div class="col-lg-6">
								<input asp-for="Title" class="form-control" />
								<span asp-validation-for="Title" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row pb-3">
							<label asp-for="Description" class="col-lg-3 control-label text-lg-end pt-2" for="textareaDefault"></label>
							<div class="col-lg-6">
								<input asp-for="Description" class="form-control" />
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row pb-3">
							<label asp-for="Created" class="col-lg-3 control-label text-lg-end pt-2"></label>
							<div class="col-lg-6">
								<div class="input-group">
									<span class="input-group-text">
										<i class="fas fa-calendar-alt"></i>
									</span>
									<input asp-for="Created" type="text" data-plugin-datepicker class="form-control">
									<span asp-validation-for="Created" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="form-group row pb-3">
							<label asp-for="Updated" class="col-lg-3 control-label text-lg-end pt-2"></label>
							<div class="col-lg-6">
								<div class="input-group">
									<span class="input-group-text">
										<i class="fas fa-calendar-alt"></i>
									</span>
									<input asp-for="Updated" type="text" data-plugin-datepicker class="form-control">
									<span asp-validation-for="Updated" class="text-danger"></span>
								</div>
							</div>
						</div>
						@*<div class="form-group row pb-3">
						<label class="col-lg-3 control-label text-lg-end pt-2" for="textareaDefault">Input</label>
						<div class="col-lg-6">
						<input class="form-control" data-plugin-maxlength maxlength="20" />
						<p>
						<code>max-length</code> set to 20.
						</p>
						</div>
						</div>*@
						<div class="form-group row pb-3">
							<label asp-for="ProjectId" class="col-lg-3 control-label text-lg-end pt-2">Project</label>
							<div class="col-lg-6">
								<select asp-for="ProjectId" asp-items="ViewBag.ProjectId" data-plugin-selectTwo class="form-control populate">
								</select>
							</div>
						</div>
						<div class="form-group row pb-3">
							<label asp-for="TicketTypeId" class="col-lg-3 control-label text-lg-end pt-2">Ticket Type</label>
							<div class="col-lg-6">
								<select asp-for="TicketTypeId" asp-items="ViewBag.TicketTypeId" data-plugin-selectTwo class="form-control populate">
									@*<optgroup label="Alaskan/Hawaiian Time Zone">

									</optgroup>*@
								</select>
							</div>
						</div>
						<div class="form-group row pb-3">
							<label asp-for="TicketStatusId" class="col-lg-3 control-label text-lg-end pt-2">Ticket Status</label>
							<div class="col-lg-6">
								<select asp-for="TicketStatusId" asp-items="ViewBag.TicketStatusId" data-plugin-selectTwo class="form-control populate">
								</select>
							</div>
						</div>
						<div class="form-group row pb-3">
							<label asp-for="TicketPriorityId" class="col-lg-3 control-label text-lg-end pt-2">Ticket Priority</label>
							<div class="col-lg-6">
								<select asp-for="TicketPriorityId" asp-items="ViewBag.TicketPriorityId" data-plugin-selectTwo class="form-control populate">
								</select>
							</div>
						</div>
						<div class="form-group row pb-3">
							<div class="col-lg-6 mb-3">
								<div class="form-group row pb-3">
									<div class="checkbox-custom checkbox-success">
										<input asp-for="Archived" type="checkbox" value="">
										<label asp-for="Archived">Archived</label>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group row pb-3">
									<div class="col-sm-8">
										<div class="checkbox-custom checkbox-success">
											<input asp-for="ArchivedByProject" value="">
											<label asp-for="ArchivedByProject">Archived By Project</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						@*<div class="form-group form-check">
						<label class="form-check-label">
						<input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
						</label>
						</div>
						<div class="form-group form-check">
						<label class="form-check-label">
						<input class="form-check-input" asp-for="ArchivedByProject" /> @Html.DisplayNameFor(model => model.ArchivedByProject)
						</label>
						</div>*@
						<div class="form-group row pb-3">
							<label asp-for="DeveloperUserId" class="col-lg-3 control-label text-lg-end pt-2"></label>
							<div class="col-lg-6">
								<select asp-for="DeveloperUserId" asp-items="ViewBag.SubmitterUserId" data-plugin-selectTwo class="form-control populate">
								</select>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" asp-action="Create" asp-controller="Tickets" method="Post" value="Create" class="btn btn-primary" />
						</div>
						@*<div class="form-group row pb-3">
						<label class="col-lg-3 control-label text-lg-end pt-2">Basic select</label>
						<div class="col-lg-6">
						<select data-plugin-selectTwo class="form-control populate">
						<optgroup label="Alaskan/Hawaiian Time Zone">
						<option value="AK">Alaska</option>
						<option value="HI">Hawaii</option>
						</optgroup>
						</select>
						</div>
						</div>*@
						@*<div class="form-group row pb-3">
						<label class="col-lg-3 control-label text-lg-end pt-2">Default Datepicker</label>
						<div class="col-lg-6">
						<div class="input-group">
						<span class="input-group-text">
						<i class="fas fa-calendar-alt"></i>
						</span>
						<input type="text" data-plugin-datepicker class="form-control">
						</div>
						</div>
						</div>*@
					</form>
				</div>
			</section>
		</div>
	</div>
</section>








@*<h1>Edit</h1>

<h4>Ticket</h4>
<hr />*@


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ArchivedByProject" /> @Html.DisplayNameFor(model => model.ArchivedByProject)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketTypeId" class="control-label"></label>
                <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                <span asp-validation-for="TicketTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketStatusId" class="control-label"></label>
                <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                <span asp-validation-for="TicketStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPriorityId" class="control-label"></label>
                <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperUserId" class="control-label"></label>
                <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.SubmitterUserId"></select>
                <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="SubmitterUserId" class="control-label"></label>
                <input asp-for="SubmitterUserId" class="form-control" />
                <span asp-validation-for="SubmitterUserId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
