@{
	//Layout = "_PortoLayout";
}

<!-- start: page -->
<@*section class="body-sign">
	<div class="center-sign">
		<a href="/" class="logo float-left">
			<img src="img/logo.png" height="70" alt="Porto Admin" />
		</a>

		@RenderBody()

		<p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2021. All Rights Reserved.</p>
	</div>
</section>*@


@*@section Scripts {
	@await RenderSectionAsync("Scripts", required: false)
}*@